* {
   -fx-fg-1: #E69664;
   -fx-fg-2: #E6966455;
}

.game-pane {
    -fx-background-color: #000;
}

.menu-outer > .viewport {
    -fx-border-width: 0;
}

.menu-outer {
    -fx-background-color: #000c;
    -fx-background: #0000;
    -fx-alignment: center;
    -fx-border-color :transparent;
}

.menu-input {
    -fx-text-fill: -fx-fg-1;
    -fx-prompt-text-fill: -fx-fg-2;
    -fx-alignment: center;
    -fx-background-color: #0000;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-color: -fx-fg-2;
    -fx-font-family: "Monospaced";
    -fx-font-weight: Bold;
    -fx-font-size: 20;
}

.menu-subtitle {
    -fx-font-family: "Monospaced";
    -fx-fill: -fx-fg-1;
    -fx-font-weight: Bold;
    -fx-padding: 0 0 10 0;
    -fx-width: 100%;
    -fx-font-size: 20;
}

.menu-title {
    -fx-font-family: "Monospaced";
    -fx-fill: -fx-fg-1;
    -fx-font-weight: Bold;
    -fx-width: 100%;
    -fx-font-size: 40;
}

.menu-button {
    -fx-font-family: "Monospaced";
    -fx-text-fill: -fx-fg-2;
    -fx-font-weight: Bold;
    -fx-cursor: hand;
    -fx-font-size: 20;
    -fx-padding: 5;
    -fx-background-color: #0000;
    -fx-border-style: hidden;
    -fx-width: 100%;
}

.menu-button:hover {
    -fx-text-fill: -fx-fg-1;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-color :transparent;
    -fx-padding: 50 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    visibility: hidden;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    visibility: hidden;
    -fx-padding: 2;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #ffffff1a;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #fff2;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}