.game-pane {
    -fx-background-color: #000;
}

.menu-outer {
    -fx-background-color: #000c;
    -fx-alignment: center;
}

.menu-button {
    -fx-font-family: "Monospaced";
    -fx-font-weight: Bold;
    -fx-cursor: hand;
    -fx-opacity: 0.6;
    -fx-font-size: 2em;
    -fx-padding: 0.2em;
    -fx-background-color: #0000;
    /* -fx-text-fill: #fff; */
    -fx-border-style: hidden;
    -fx-width: 100%;
}

.menu-button:hover {
    -fx-opacity: 1;
}