* {
    -fx-bg-1: #89afe3;
    -fx-bg-2: #7397ca;
    -fx-bg-3: #6884abdd;

    -fx-fg-1: #ffffff;
    -fx-fg-2: #c3d5ef;
}

.game-pane {
    -fx-font-family: "Monospaced";
    -fx-font-weight: Bold;
    -fx-font-size: 20;
    -fx-background-color: -fx-bg-1;
}

.game-pane .image-list .label {
    -fx-font-size: 30;
    -fx-text-fill: -fx-fg-1;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.game-pane .image-list .footer {
    -fx-cursor: hand;
}

.game-pane .image-list .footer .label {
    -fx-text-fill: -fx-fg-2;
}

.game-pane .image-list .footer:hover .label {
    -fx-text-fill: -fx-fg-1;
}

.game-pane .image-list .text-overlay {
    -fx-cursor: hand;
    -fx-background-color: -fx-bg-3;
    -fx-transition: fade;
    -fx-opacity: 0;
}

.game-pane .image-list .text-overlay:hover {
    -fx-opacity: 1;
}

.game-pane .gameover-menu,
.game-pane .pause-menu {
    -fx-background-color: -fx-bg-3;
}

.game-pane .info-bar {
    -fx-pref-height: 50;
}

.game-pane .info-bar-left,
.game-pane .info-bar-right{
    -fx-alignment: center;
    -fx-padding: 0 20 0 20;
    -fx-spacing: 20;
}

.game-pane .info-bar .label {
    -fx-text-fill: -fx-fg-1;
}

.game-pane .input {
    -fx-background-color: -fx-bg-2;
    -fx-min-width: 300;
    -fx-pref-width: 300;
}

.game-pane .list-button {
    -fx-background-color: transparent;
    -fx-min-width: 300;
    -fx-pref-width: 300;
    -fx-padding: 0 30;
}

.game-pane .list-button .button {
    -fx-padding: 5 5 5 50;
}

.game-pane .list-button .remove { 
    -fx-min-width: 0;
    -fx-margin: 5;
}

.game-pane .input .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-fg-1;
    -fx-prompt-text-fill: -fx-fg-2;
    -fx-background-radius: 0;
}

.game-pane .input .button {
    -fx-background-radius: 0;
    -fx-min-width: 0;
}

.game-pane .button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-fg-2;
    -fx-alignment: center;
    -fx-min-width: 300;
}

.game-pane .button:hover {
    -fx-text-fill: -fx-fg-1;
}

.game-pane .paragraph {
    -fx-text-fill: -fx-fg-2;
    -fx-font-size: 16;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.game-pane .small-print {
    -fx-text-fill: -fx-fg-2;
    -fx-font-size: 12;
    -fx-padding: 0 0 10 0;
    -fx-alignment: center;
    -fx-text-alignment: left;
}

.game-pane .h2 {
    -fx-text-fill: -fx-fg-2;
    -fx-font-size: 25;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.game-pane .h1 {
    -fx-padding: 0 0 20 0;
    -fx-text-fill: -fx-fg-1;
    -fx-font-size: 40;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.scroll-pane .menu-pane {
    -fx-padding: 10 0;
}

.menu-pane {
    -fx-padding: 40 60;
}

.game-pane .scroll-pane {
    -fx-background-color: -fx-bg-1;
    -fx-background: -fx-bg-1;
}

.scroll-bar:vertical {
    -fx-background-color:transparent;
    -fx-pref-width: 20;
    -fx-padding: 0 5;
}

.scroll-bar:horizontal {
    -fx-background-color:transparent;
    -fx-pref-height: 20;
    -fx-padding: 5 0;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-padding: 0 0 0 0;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar .thumb {
    -fx-cursor: hand;
    -fx-background-color: -fx-fg-2;
    -fx-background-radius: 5em;
}

.scroll-bar .thumb:hover {
    -fx-background-color: -fx-fg-1;
}